language: java

sudo: false

git:
  submodules: false

before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - cd repseqio/milib && mvn clean install -DskipTests -B && cd ..
  - mvn clean install -DskipTests -B && cd ..

jdk:
  - openjdk7

cache:
  directories:
  - $HOME/.m2
  - ./repseqio/.cache
