 
language: java

sudo: false

git:
  submodules: false

before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  - cd milib && mvn clean install -DskipTests -B && cd ..
  - rm -rf ./repseqio/.cache
  - mv .cache ./repseqio/.cache
  - cd repseqio && mvn clean install -DskipTests -B && cd ..
  - mv ./repseqio/.cache .cache
  - ./ensure-test-data.sh

script:
  - mvn test -B && ./itests.sh test

jdk:
  - openjdk8

before_cache:
  - rm -f $HOME/.m2/repository/io/repseqio/
  - rm -f $HOME/.m2/repository/com/milaboratory/

cache:
  directories:
  - $HOME/.m2
  - .cache
